streamlit
pandas
matplotlib
wordcloud
spacy==3.5.2
thinc==8.1.10
numpy==1.24.3
openpyxl
cython>=0.29.32
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.5.0/fr_core_news_sm-3.5.0.tar.gz
